/*Impostazioni generali*/
body {
  background-color: #a4db9f;
  width: 90rem;
  margin: 0;
  padding: 0;
 }

/*Header*/
/*Main*/
.primo-piano {
  text-align: center;
  padding: 5%;
  margin-bottom: 5%; }

/*Footer*/
footer {
  text-align: center; }

.primo-piano img {
  height: 300px;
  width: 200px;
  border-radius: 60%;
 border: 1px solid white;}

.partnership {
  padding: 5%;
}
