@import 'functions';

$main-color: rgb(164, 219, 159);

/*Impostazioni generali*/
body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*Main*/
.primo-piano {
    text-align: center;
}
/*Footer*/

footer {
    text-align: center;
}

.primo-piano img {
    height: 35vh;
    width: 35vw;
    margin-bottom: 5%;
}
.partnership {
   margin: auto;
}

.carousel-inner {
    
    width: 50%;
    margin: auto;
}
.carousel-inner img {
    border-radius: 50%;
}

aside, .row {
    margin:auto;
}
